form{
    width: 50%;
    padding: 15px;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
}

h1{
    text-align: center;
    margin-bottom: 15px;
    font-size: 0.5rem;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px;
}
